div.example {
    background-color: lightgrey;
    padding: 15px;
}
@media screen and (min-width: 601px) {
    div.example {
      font-size: 50px;
    }
  }
  
@media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
th, td {
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even){
      background-color: #f2f2f2
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #ff726f;
  }